// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  width: 500px;
  margin: 0 auto 30px;
  img {
    max-width: 100%;
    border-radius: 0;
  }
}